
  .contactus h1{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: var(--font_family);
  
  }
  hr{
    width: 100px;
    border: 2px solid rgb(255, 255, 255);
   text-align: center;
  
   margin-left: 45%;
  }
  .content a,
  button{
      display: inline-block;
      padding: 14px 30px;
      text-decoration: none;
      color: #243342;
      letter-spacing: 1.2px;
      font-size: 14px;
      border: 1px solid #ffffff;
      border-radius: 7px;
      margin-right: 20px;
      transition: 0.15s ease-in-out;
  }
  .content a.focus,
  button{
      color: white;
      background: #2171c1;
  }
  .content a.focus:hover,
  button:hover{
      cursor: pointer;
     color: #1bf1dc;
     background-color: #243342;
  }
  .content a:hover {
      background-color: #243342;
      color: #16f1d7;
  }
  .other{
      width: 100%;
      
      position: relative;
      display: flex;
   flex-direction: column;
   justify-content: flex-end;
  }
  .other:before{
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, rgb(3, 3, 3), rgba(104, 103, 102, 0.81));
  }
  .box-shadow-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(169, 18, 18, 0.16), 0 2px 10px 0 rgb(106, 117, 160);
    background-color: #000000;
    color: white;
  }
  
  .pointer {
    cursor: pointer;
  }
  .form{
      width: 70%;
      background-color:transparent;
      padding: 20px;
      display: flex;
      flex-direction: column;
      /* align-items: flex-end; */
      color: white;
  }
  .form h1{
      text-align: center;
      margin-bottom: 20px;
      width: 100%;
    color: white;
  }
  .form form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  .flex-rev {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 10px;
          width: 100%;
  }
  
  .flex-rev input, .flex-rev textarea {
      border: none;
      background-color: #e6e6e6;
      padding: 12px 10px;
      font-size: 16px;
      resize: none;
      margin-top: 7px;
      margin-bottom: 16px;
      border-radius: 5px;
      color: #ffffff;
      outline-color: #243342;
      outline-width: thin;
       -webkit-appearance: none;
  }
  .flex-rev textarea{
      height: 150px;
  }
  button {
      -webkit-appearance: none;
      margin-right: 0;
  }
  
  
  .info {
      position: relative;
      padding: 20px;
      color: white;height: 300px;
  }
  
  
  
  .info h2 {
      color: #ffffff;
      font-size: 28px;
      font-weight: 600;
  }
  .info h1 {
      color: #ffffff;
     text-align: center;
     font-weight: 700;
  
     
  }
  
  .info h3 {
      color: white;
      letter-spacing: 1.2px;
      margin-top:  20px;
      font-weight: 500;
  }
  
  .svg-wrap {
     
      margin-top: 10px;
      /* padding: 10px; */
  }
  
  .svg-wrap a {
      border: 0;
      color: #ffffff;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  }
  
  .svg-wrap a svg {
      width: 20px;
      height: 20px;
      fill: white;
      transition: fill 0.2s ease-in-out;
      margin-right: 13px;
  }
  
  .svg-wrap a:hover svg {
      fill: #16f1dc;
      cursor: pointer;
  }
  
  .svg-wrap a:hover {
      background-color: transparent;
      color: #16f1dc;
      cursor: pointer;
  }
  
  
  
  @media screen and (max-width: 900px){
      .content{
          padding: 10px 0 0;
          display: block;
      }
      .map{
          display: none;
      }
      .contact{
          width: 100%;
          flex-direction: column-reverse;
          border-radius: 0;
          box-shadow: 0px 0px 0px 0px;
      }
      .other{
          width: 100%;
          padding: 20px;
      }
      .form{
          width: 100%;
      }
  }
  
  @media screen and (max-height: 660px){
      .content{
          align-items: flex-start;
      }
  }
  a {
      white-space: pre;
    }